.projects-page {
    padding: 2em 1em 0em 1em;
}

.projects__studying {
    background: var(--cinza-claro);
    width: 14em;
    height: 9em;
    display: flex;
}

.projects__items-page{
    justify-content: center;
    text-align: center;
    color: var(--color-secondary);
    font-size: 1.5rem;
    font-weight:500;
    text-align: center;
}
